@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Cerebri Sans Pro";
  src: local("Cerebri Sans Pro"),
    url(./fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Cerebri Sans Pro";
  src: local("Cerebri Sans Pro"),
    url(./fonts/Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.otf)
      format("opentype");
}
@font-face {
  font-family: "Cerebri Sans Pro";
  src: local("Cerebri Sans Pro"),
    url(./fonts/Cerebri.Sans.Pro/CerebriSansPro-Light.otf) format("opentype");
}
@font-face {
  font-family: "Cerebri Sans Pro";
  src: local("Cerebri Sans Pro"),
    url(./fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Cerebri Sans Pro";
  src: local("Cerebri Sans Pro"),
    url(./fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Cerebri Sans Pro";
  src: local("Cerebri Sans Pro"),
    url(./fonts/Cerebri.Sans.Pro/CerebriSansPro-SemiBold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cerebri Sans Pro";
}
