:root {
  --white: #fff;
  --black: #000;
  --black-600: rgb(0, 0, 0, 0.6);
  --red: #d62d42;
  --yellow: #F4D525;
  --blue: #2081AE;
  --primary: #1d848a;
  --secondary: #67d9c0;
  --tertiary: #edfaf7;
  --shadow: rgba(103, 217, 192, 0.25);
  --blue-200: rgba(32, 129, 174, 0.25);
  --background: rgba(196, 196, 196, 0.22);
  --border: #ced4da;
  --mini: 8px;
  --small: 18px;
  --medium: 24px;
  --large: 32px;
  --largest: 48px;
  --hairline-weight: 100;
  --thin-weight: 200;
  --light-weight: 300;
  --normal-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;
  --xbold-weight: 800;
  --black-weight: 900;
  --fs-base: 16px;
  --fs-giga: 80px;
  --fs-mega: 70px;
  --fs-kilo: 60px;
  --fs-h1: 40px;
  --fs-h2: 35px;
  --fs-h3: 26px;
  --fs-h4: 20px;
  --fs-h5: 18px;
  --fs-h6: 14px;
  --fs-max: 42px;
  --fs-milli: 16px;
  --fs-micro: 10px;
  --fs-nano: 8px;
}
